.list-view {
    display: flex;
    width: 25%;
    height: 93vh;
    border-radius: 2%;
    background-color: #2b2b2b;
    .container {
        width: 100%;
        .item {
            height: 45px;
            display: flex;
            margin: auto;
            flex-direction: row;
            .icon {
                font-size: 30px;
            }
            .text {
                margin-left: 10px;
                margin-top: auto;
                margin-bottom: auto;
                font-size: 25px;
            }
        }
    }
}